ul.menu {
	margin: 0;
	background: white;
	padding: 20px 0;
	float: right;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	li {
		display: inline;
		margin-right: 10px;
		a {
			color: #003459;
			padding: 10px;
			transition: all 0.2s;
		&:hover {
			color: #007Ea7;
		}
		}
	}
}

header {
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
}

.logo {
	margin: 20px 10px;
	float: left;
	width: 90px;
	height: 32.2px;
}

@media (max-width: 470px) {
 .logo {
    margin: 10px auto;
    float: none;
}
ul.menu {
	text-align: center;
	padding: 0;
}
}

@media (max-width: 360px) {
 ul.menu  {
   float: none;
}
 ul.menu li  {
   display: block;
}
}